.grid {
  display: grid;
  grid-template-columns: repeat(50, 15px);
  grid-template-rows: repeat(50, 15px);
}

.grid-item {
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  background-color: transparent;
}

.grid-item:nth-child(-n+50) {
  border-top: 1px solid gray;
}

.grid-item:nth-child(50n+1) {
  border-left: 1px solid gray;
}

.live {
  background-color: rgb(0, 0, 0);
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.btn {
  border: none;
  padding: 16px;
  border-radius: 2px;
  cursor: pointer;
}

.btn-start {
  background-color: rgb(184, 235, 184);
}

.btn-stop {
  background-color: rgb(246, 214, 214);
}

.btn-reset {
  background-color: rgb(251, 251, 203);

}